body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

/* Dark mode styles */
body.dark-mode {
    background-color: black;
    color: white;
}

/* Additional styles for the navigation */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
}

#goDark{
    background-color: white;
    color: #000;
    border-radius: 200px;
    border-width: 0;
    padding: 10px;
}

#goDark :hover{
    background-color: blue;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* AliceBlue */
    color: #000; /* Black */
}

a {
    color: #007bff; /* Blue */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #17a2b8; /* Cyan */
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 1em;
}

#nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Hidden for larger screens */
}

#navbarNav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

#navbarNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarNav li {
    margin: 0 1em;
    
}

#navbarNav a {
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

#content {
    padding: 2em;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column-left, .column-right {
    flex: 1;
    padding: 1em;
}

.column-left {
    max-width: 30%;
}

.column-right {
    max-width: 70%;
}

.pic {
    background-color: #e0f7fa; /* Light Cyan */
    padding: 2em;
    text-align: center;
    border-radius: 5px;
}

footer {
    background-color: #007bff; /* Blue */
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#footer-content {
    margin: 0 auto;
}

